.item {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.7rem 1.3rem;

  font-size: 0.7rem;

  &__done {
    width: 20px;
    height: 20px;

    cursor: pointer;
    background-color: #dddada;
    border-radius: 4px;
    transition-duration: 0.2s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);

    &:hover {
      background-color: rgb(164, 164, 250);
    }

    &__active {
      background-color: rgb(164, 164, 250);
    }
  }

  &__text {
    width: 80%;

    & div:nth-child(2) {
      margin-top: 0.2rem;
      font-size: 0.6rem;
      color: rgb(164, 164, 250);
    }
  }

  &__image {
    padding: 0.3rem;
    transition-duration: 0.2s;

    &:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    > img {
      width: 20px;
      height: 20px;
    }
  }
}
