.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 35rem;

  background-image: url(https://img.freepik.com/free-vector/flat-summer-background-with-beach-view_23-2149450559.jpg?w=2000);
  background-size: cover;
}
